<launch>
  <arg name="x_pos" default="-1.8"/>
  <arg name="y_pos" default="0.4"/>
  <arg name="z_pos" default="0.0"/>
  

  <param name="robot_description" command="$(find xacro)/xacro $(find final_description)/urdf/final.xacro"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description -urdf -model final"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find final_description)/worlds/maze.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/> -->

  <node pkg="tf" type="static_transform_publisher"  name="map_to_odom"
      args="0 0 0 0 0 0 /map /odom 100" /> 
  <node pkg="car_tf" type="imu_tf"  name="imu_tf" /> 
  <node pkg="car_tf" type="lidar_tf"  name="lidar_tf" />
  <include file="$(find final_description)/launch/move_base.launch" />
  <include file="$(find final_description)/launch/display.launch" />

  <!-- sensor fusion -->

  <!-- <node pkg="robot_localization" type="ekf_localization_node"  name="ekf_se" clear_params="true" >
      <rosparam command="load" file="$(find final_description)/config/ekf.yaml"/>
      <remap from="odometry/filtered" to="odom"/>
    </node> -->
</launch>
